<div class="root flex-column">
	<h2>Restablece tu contraseña</h2>

	<div class="container">
		<mat-card class="container__card custom-card flex-column">
			<mat-card-title><h4>RECUPERAR</h4></mat-card-title>
			<mat-card-content class="content">
				<form class="content-form flex-column" autocomplete="off">
					<mat-form-field appearance="outline">
						<mat-label>Nueva Contraseña</mat-label>
						<input matInput type="password" />
						<mat-error>La contraseña es requerido </mat-error>
					</mat-form-field>

					<button mat-raised-button color="primary">RESTABLECER</button>

					<div>
						<div class="content-form__redirect">
							<span>Si ya tienes una cuenta</span>
							<a routerLink="/login">ingresa</a>
						</div>

						<div class="content-form__redirect">
							<span>Si no tienes una cuenta</span>
							<a routerLink="/register">regístrate</a>
						</div>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>
