<div class="content">
	<form class="content__form flex-column" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="clickRestore()">
		<mat-form-field appearance="outline" subscriptSizing="dynamic">
			<mat-label>Contraseña anterior</mat-label>
			<input matInput type="password" formControlName="oldPassword" />
			<mat-error *ngIf="oldPasswordField.hasError('required')">La contraseña es requerida</mat-error>
			<mat-error *ngIf="oldPasswordField.hasError('customPasswordValidator')">
				La contraseña debe tener al menos una mayúscula, minúscula, simbolo, número y mayor a 8 caracteres
			</mat-error>
		</mat-form-field>
		<br />

		<mat-form-field appearance="outline" subscriptSizing="dynamic">
			<mat-label>Nueva contraseña</mat-label>
			<input matInput type="password" formControlName="newPassword" />
			<mat-error *ngIf="newPasswordField.hasError('required')"> </mat-error>
			<mat-error *ngIf="newPasswordField.hasError('customPasswordValidator')">
				La contraseña debe tener al menos una mayúscula, minúscula, simbolo, número y mayor a 8 caracteres
			</mat-error>
		</mat-form-field>
		<br />
		<button mat-raised-button color="primary">GUARDAR</button>
	</form>
</div>
